body{
font-family:"Gadugi";
font-size:16px;
/* background-color: #e6f9ff; */
}

.slogan{
	font-size:40px;
	color: #004d99;
	font-weight: bold;
}

.listesport{
	font-size:25px;
	color: #0066cc;
}

.tableaccueil { 
	align:center;
    border-spacing: 30px;
    border-collapse: separate;
}

.tablecreerrencontre { 
	align:center;
    border-spacing: 20px;
    border-collapse: separate;
}

.tablecreerpari { 
	align:center;
    border-spacing: 20px;
    border-collapse: separate;
}

.tableinscription { 
	align:center;
    border-spacing: 20px;
    border-collapse: separate;
}

th{
	text-align:center;
}

td{
	text-align:center;
}

.titre {
font-size:20px;
color: white;
}

.une {
text-align: center;
text-decoration: underline;
font-size:35px;
color: #cc0000;
font-family:"Impact";
}

.unedetail {
text-align: center;
font-size:25px;
color: #800000;
font-family:"Impact";
}

.error, .errors {
	color: red;
}
.required {
	color: red;
}